@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  background: #fff;
  color: #000;
  margin: 0;
}

button {
  cursor: pointer;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.app-content {
  padding-top: 93px; // высота header
}

.page {
  padding-top: 60px;
}
