$color-green: #029491;
$color-yellow: #ffb64f;
$color-blue-light: #7ce3e1;
$color-blue: #5978ff;
$color-black: #000;
$color-white: #fff;

$font-main: "Inter", sans-serif;
$font-ferry: "Ferry", sans-serif;
